@import '../../../styles/styles_variables.scss';

.message {
    visibility: hidden;
    width: 250px;
    margin-left: 250px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    border-radius: 2px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 80px;

    &.show {
        visibility: visible;
        animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;

        &.success {
            background-color: green;
        }

        &.error {
            background-color: red;
        }
    }
}

@keyframes fadeIn {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 80px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        top: 80px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}