@import '../../../styles/styles_variables.scss';

label,
textarea {
    display: block;
}

.form-section {
    width: 100%;
    margin-bottom: 50px;

    &__title {
        text-align: center;
        font-size: 3.6rem;
        margin-bottom: 40px;
    }

    &__form {
        width: 35%;
        margin: 0 auto;
        padding: 20px;
        background-color: $light-color;
        box-shadow: 0px 3px 24px 0px rgba(34, 60, 80, 0.2);

        @media (max-width: 1200px) {
            width: 45%;
        }

        @media (max-width: 1000px) {
            width: 55%;
        }

        @media (max-width: 768px) {
            width: 65%;
        }

        @media (max-width: 580px) {
            width: 75%;
        }

        @media (max-width: 500px) {
            width: 90%;
        }
    }

    .form {
        &-field {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 5px;

            &:first-child {
                margin-top: 0;
            }

            &__label {
                width: 30%;
                font-size: 2rem;
                vertical-align: middle;
            }

            &__star {
                color: red;
                margin-left: 5px;
            }

            &__input {
                width: 60%;
                padding: 5px;
                font-size: 1.8rem;
                border: 2px solid #aaaaaa;

                &.input-error {
                    border-color: red;
                }
            }
        }

        &__button {
            cursor: pointer;
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            padding: 10px 5px;
            background-color: #ff8438;
            color: $light-color;

            &:hover {
                background-color: #de8b069b;
            }
        }
    }
}

input:focus,
textarea:focus {
    outline: 0;
    border: 2px solid #de8b06;
    box-shadow: 0 0 0 0.2rem rgba(250, 155, 1, 0.25);
}

.error {
    width: 100%;
    color: red;
    font-size: 12px;
    margin-left: 36%;
    margin-bottom: 5px;

    .form__text~& {
        text-align: left;
        margin-left: 0;
    }
}