@import '../../../styles/constants';
.modal-btn {
    width: 150px;
    cursor: pointer;
    padding: 10px;
    margin-left: 5%;
    margin-top: 15px;
    background-color: $button-color;
    color: $light-color;

    &:hover {
        background-color: $button-hover;
    }
}