@import "./styles/styles_variables.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: $light-color;
  color: $font-color;
}

html {
  scroll-behavior: smooth;
}